@media only screen and (max-width: 992px) {
    /* Ipad air */
    
    .du-an-img {
        width: 150px;
        }
    #certificate .container {
        margin: 20px;
        margin-left: 50px;
        }
    ul {
        padding: 0;
        margin-bottom: 0px;
        }
    #job-info .container {
        grid-template-columns: 1fr 1fr;        
        }
    }