@media only screen and (max-width: 992px){
    /* Ipad air */
    body{
        background-color: blue;
    }
    #container{
        display: inline-block;
        margin: 0px;
    }
    .primary {
        margin-bottom:20px;
        
    }
    .content-title h3 {
        font-size: 20px;
    }
    .imgs{
        justify-content: center;
        margin:auto;
    }
    .timeline-text{
        display:grid;
    }

    .teams-text{
        display:grid;
    }

    .goals-text{
        display:grid;
    }

    .primary-text{
        display:grid;
    }

}